header
    position: absolute  
    width: 100%
    .menu
        margin: 20px 0 0 0
        display: flex 
        justify-content: space-between   
        align-items: center
        img 
            height: 50px
        a
            margin-right: 10px
            color: white 
            &:hover
                color:  #ffc800
            &.active
                color:  #ffc800

