#meet
    .container
        margin-left: 0px
        padding-left: 0px           
        .box
            display: flex
            flex-direction: column 
            align-items: center 
            justify-content: center
            align-content: center
            justify-items: center
            text-align: center
            width:100vw 
            height: 90vh 
            border: 2px solid black
            background-image: url("sekil/assets/img/header.jpg")
            background-size: cover
            background-position: center
            color: #ffff
            letter-spacing: 5px
            padding: 0 15px
            h2
                text-align: center
                margin: 0 0 10px 0
                font-style: italic
                font-size: 36px
                width: 100%
            h1 
                text-align: center
                font-size: 72px
                font-weight: 700
                width: 100%
            .btn 
                cursor: pointer
                align-items: center
                width: 180px
                padding: 15px 0 
                text-align: center  
                margin: 40px 0 0 0
                font-size: 18px
                font-weight: 700
                color: #ffff
                background-color: #ffc800
                border-radius: 4px 
                font-weight: 500
    @media(max-width: 992px)
        .container 
            .box 
                h1 
                    font-size: 56px 
                h2 
                    font-size: 28px 
                .btn 
                    width: 160px 
                    padding: 12px 0 
                    h3 
                        font-size: 16px 
    @media(max-width: 768px)
        .container 
            .box 
                letter-spacing: 3px
                h1 
                    font-size: 40px 
                h2 
                    font-size: 24px 
                .btn 
                    width: 150px 
                    padding: 10px 0 
                    h3 
                        font-size: 15px  
    @media(max-width: 576px)
        .container             
            .box  
                letter-spacing: 2px
                h1 
                    font-size: 32px 
                h2 
                    font-size: 20px 
                .btn 
                    width: 140px 
                    padding: 8px 0  
                    h3 
                        font-size: 14px    