#portfolio
    background-color: rgba(248, 249, 250)
    .container 
        width: 100%
        margin: 0 auto
        @media (min-width: 576px)
            max-width: 540px
        @media (min-width: 768px)
            max-width: 720px
        @media (min-width: 992px)
            max-width: 960px
        @media (min-width: 1200px)
            max-width: 1140px
        @media (min-width: 1400px)
            max-width: 1320px 
    .textbox
        padding: 50px 0 0 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-size: 40px
            font-weight: 700
            margin: 0 0 10px 0
        h2
            font-size: 16px
            font-style: italic
            color: #787373
            margin: 0 0 30px 0
    .box
        margin-bottom: 80px
        display: flex
        flex-wrap: wrap
        text-align: center
        @media (max-width: 768px)
            flex-direction: column
            align-items: center
        .minibox
            display: flex
            flex-direction: column
            align-items: center 
            img
                width: 100%
                max-width: 350px
                height: auto 
    .textimg
        box-sizing: border-box 
        background-color: #ffffff
        max-width: 350px
        width: 100%
        padding: 5px 0
        h3
            font-weight: 700
            font-size: 24px
        h4
            font-size: 16px
            margin: 5px 0 
            color: #88888888  
    .imgbox img 
        width: 100% 
        height: auto 